@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b><i>Monty Python: The Argument Clinic: Director's Cut</i></b>
<code>00:06:21</code>
<a href="http://www.youtube.com/watch?v=RDjCqjzbvJY">You Tube Video</a>
</p>
<p>
<b>Monty Python</b> <a href="http://en.wikipedia.org/wiki/Monty_Python">http://en.wikipedia.org/wiki/Monty_Python</a></p>
