
@{
    ViewBag.Title = "ArgumentsNotSold";
}

<h2>Sorry you cancelled</h2>
<p>Have a Guid on us &rarr; @ViewBag.Guid</p>
<p>Plus a token of our appreciation &rarr; @ViewBag.Token</p>
<hr />
<h1>Office Directory</h1>
<p style="font-family:'Courier New'">&nbsp; &nbsp; Room 12: &nbsp;&nbsp; Abuse</p>
<p style="font-family:'Courier New'">&nbsp; &nbsp; Room 12A:&nbsp;&nbsp; Arguments</p>
<p style="font-family:'Courier New'">&nbsp; &nbsp; Room 13: &nbsp;&nbsp; Complaints</p>
<p style="font-family:'Courier New'">&nbsp; &nbsp; Room 14: &nbsp;&nbsp; Being Hit on The Head Lessons</p>
