@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere in England<br />
    London, EC3R<br />
    Ye Olde Telephone:</abbr>
    +44 20 7930 4832 (hang up if Her Majesty answers)
</address>

<address>
    <strong>Appointments:</strong>   <a href="mailto:appointments@theargumentclinic.com">appointments@theargumentclinic.com</a><br />
    <strong>Returns:</strong> <a href="mailto:whoareyoukidding@theargumentclinic.com">whoareyoukidding@theargumentclinic.com</a>
</address>