@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Argument Clinic</h1>
    <p class="lead">Why wait when you can purchase your arguments on-line...</p>
    <p><a href="https://developer.paypal.com/"
        target="paypal"
         class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


